@import "fonts";
@import "variables";
@import "bootstrap-grid/grid";

body {
  font-family: 'Roboto';
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 1500px;
}

/* Header */
.header {
  padding: 20px 0 26px;
}

.logo {
  cursor: pointer;
  transition: .14s ease-in-out opacity;
  display: block;
  margin-top: 4px;
  &:hover {
    opacity: .8;
  }
}

.navigation {
  padding-top: 12px;
  text-align: right;
}

.navigation--list {
  list-style: none;
  font-size: 0;
  padding: 0;
  transition: .4s ease-in-out right;

  li {
    display: inline-block;
    margin-right: 27px;
  }

  a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: $darkgrey;
    letter-spacing: 2.1px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: $blue;
      transition: .2s ease-in-out width;
    }

    &:hover:before {
      width: 100%;
    }
  }
}

.navigation--menu-toggle {
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  text-align: right;
  display: none;
  max-width: 22px;
  right: 0;
  transition: .4s ease-in-out right;
  margin-top: 2px;

  &.active {
    position: absolute;
    top: 30px;
    right: 162px;
    z-index: 2;

    span {
      margin: 0;

      &:first-child {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }

      &:last-child {
        display: none;
      }
    }
  }

  span {
    display: inline-block;
    height: 2px;
    background-color: $blue;
    width: 22px;
    max-width: 100%;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    opacity: .7;
  }
}

.account-info {
  text-align: right;
}

.premium {
  font-size: 0;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 4px 14px 0 0;
}

.premium--title {
  font-size: 14px;
  display: inline-block;
  letter-spacing: .2px;
  vertical-align: middle;
  font-weight: bold;
  margin-right: 10px;
}

.premium--info {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  img {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    position: absolute;
    background-color: $white;
    top: calc(100% + 12px);
    right: -14px;
    width: 300px;
    text-align: justify;
    border: 1px solid $blue;
    border-radius: 6px;
    padding: 10px;
    line-height: 22px;
    visibility: hidden;
    opacity: 0;
    transition: .34s ease-in-out opacity, .34s ease-in-out visibility;
    margin: 0;
    box-shadow: 0 0 8px 0 $blue;

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: calc(100% - 27px);
      width: 0;
      height: 0;
      border: solid 8px;
    }

    &:after {
      top: -16px;
      border-color: transparent transparent $white transparent;
    }

    &:before {
      top: -17px;
      border-color: transparent transparent $blue transparent;
    }

    span {
      color: $blue;
      font-weight: bold;
    }
  }

  &:hover p {
    visibility: visible;
    opacity: 1;
  }
}

.credits {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: $blue;
  display: inline-block;
  margin: 4px 15px 0 0;
  vertical-align: middle;
  letter-spacing: 1px;
}

.user-menu-wrap {
  display: inline-block;
  position: relative;
}

.user-menu {
  display: inline-block;
  line-height: 0;
  padding-right: 24px;
  background: url("../imgs/arrow.png") no-repeat right 55%;
  background-size: 10px;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s ease-in-out background-image;

  &.active {
    background-image: url("../imgs/close.svg");
    & + .dropdown-menu {
      visibility: visible;
      opacity: 1;
    }
  }
}

.dropdown-menu {
  background-color: $white;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 180px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid $blue;
  border-radius: 6px;
  box-shadow: 0 0 8px 0 $blue;
  color: $darkgrey;
  letter-spacing: 1px;
  line-height: 20px;
  visibility: hidden;
  opacity: 0;
  transition: .34s ease-in-out opacity, .34s ease-in-out visibility;
  word-break: break-all;

  a {
    display: block;
    color: $darkgrey;
    text-decoration: none;
    transition: .14s ease-in-out opacity;

    &:hover {
      opacity: .6;
    }
  }

  span {
    font-weight: bold;
  }

  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    left: calc(100% - 40px);
    width: 0;
    height: 0;
    border: solid 8px;
  }

  &:after {
    top: -16px;
    border-color: transparent transparent $white transparent;
  }

  &:before {
    top: -17px;
    border-color: transparent transparent $blue transparent;
  }
}

.dropdown-menu--divider {
  margin: 6px 0 7px;
  border-bottom: 1px solid $blue;
}

@media screen and (max-width: 1199px) {
  .navigation {
    padding-top: 10px;
  }
  .navigation--list {
    li {
      margin-right: 23px;
    }

    a {
      letter-spacing: 1px;
    }
  }

  .premium--title {
    margin-right: 5px;
  }

  .premium,
  .credits {
    margin-top: 0;
  }
}

@media screen and (max-width: 991px) {
  .navigation {
    padding-top: 16px;
    order: 3;
    position: static;
  }

  .navigation--list {
    background-color: $light-grey;
    position: absolute;
    width: 200px;
    top: 0;
    bottom: 0;
    right: -200px;
    padding: 30px 20px;
    text-align: center;
    border-left: 1px solid $grey;
    z-index: 1;

    &.active {
      right: 0;
    }

    li {
      margin: 0 0 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .navigation--menu-toggle {
    display: inline-block;
  }

  .account-info {
    padding-top: 6px;
  }
}

@media screen and (max-width: 767px) {
  .credits,
  .premium {
    margin-right: 10px;
  }

  .account-info {
    padding-top: 0;
  }

  .navigation {
    padding: 10px 15px 0 0;
  }
}

@media screen and (max-width: 575px) {
  .navigation {
    padding-top: 12px;
    order: 0;
  }

  .account-info {
    text-align: center;
    margin-top: 18px;
  }

  .premium--info {
    p {
      left: -50px;
      right: inherit;
      width: 200px;
      &:after,
      &:before {
        left: 48px;
      }
    }
  }
}