@import "fonts";
@import "variables";
@import "bootstrap-grid/grid";
@import "../../node_modules/owl.carousel2/src/scss/owl.carousel";
@import "../../node_modules/nouislider/distribute/nouislider.min";

body {
  font-family: 'Roboto';
  margin: 0;
  box-sizing: border-box;
  height: 1500px;
}

.wrapper {
  overflow: hidden;
}

/* Header */
.header {
  padding: 20px 0;
}

.logo {
  cursor: pointer;
  transition: .14s ease-in-out opacity;
  display: block;
  margin-top: 4px;
  &:hover {
    opacity: .8;
  }
}

.navigation {
  padding-top: 12px;
  text-align: right;
}

.navigation__list {
  list-style: none;
  font-size: 0;
  padding: 0;
  transition: .4s ease-in-out right;
  text-align: left;
  z-index: 2;

  li {
    display: inline-block;
    margin-right: 27px;
  }

  a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: $darkgrey;
    letter-spacing: 2.1px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: $blue;
      transition: .2s ease-in-out width;
    }

    &:hover:before {
      width: 100%;
    }
  }
}

.navigation__menu-toggle {
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  text-align: right;
  display: none;
  max-width: 22px;
  right: 0;
  transition: .4s ease-in-out right;
  margin-top: 2px;

  &.active {
    position: absolute;
    top: 30px;
    right: 162px;
    z-index: 3;

    span {
      margin: 0;

      &:first-child {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }

      &:last-child {
        display: none;
      }
    }
  }

  span {
    display: inline-block;
    height: 2px;
    background-color: $blue;
    width: 22px;
    max-width: 100%;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    opacity: .7;
  }
}

.account-info {
  text-align: right;
}

.premium {
  font-size: 0;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 4px 14px 0 0;
}

.premium__title {
  font-size: 14px;
  display: inline-block;
  letter-spacing: .2px;
  vertical-align: middle;
  font-weight: bold;
  margin-right: 10px;
}

.premium__info {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  img {
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    position: absolute;
    background-color: $white;
    top: calc(100% + 12px);
    right: -14px;
    width: 300px;
    text-align: justify;
    border: 1px solid $blue;
    border-radius: 6px;
    padding: 10px;
    line-height: 22px;
    visibility: hidden;
    opacity: 0;
    transition: .34s ease-in-out opacity, .34s ease-in-out visibility;
    margin: 0;
    box-shadow: 0 0 8px 0 $blue;
    z-index: 2;

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: calc(100% - 27px);
      width: 0;
      height: 0;
      border: solid 8px;
    }

    &:after {
      top: -16px;
      border-color: transparent transparent $white transparent;
    }

    &:before {
      top: -17px;
      border-color: transparent transparent $blue transparent;
    }

    span {
      color: $blue;
      font-weight: bold;
    }
  }

  &:hover p {
    visibility: visible;
    opacity: 1;
  }
}

.credits {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: $blue;
  display: inline-block;
  margin: 4px 15px 0 0;
  vertical-align: middle;
  letter-spacing: 1px;
}

.user-menu-wrap {
  display: inline-block;
  position: relative;
}

.user-menu {
  display: inline-block;
  line-height: 0;
  padding-right: 24px;
  background: url("../imgs/arrow.png") no-repeat right 55%;
  background-size: 10px;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s ease-in-out background-image;

  &.active {
    background-image: url("../imgs/close.svg");
    & + .dropdown-menu {
      visibility: visible;
      opacity: 1;
    }
  }
}

.dropdown-menu {
  background-color: $white;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 180px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid $blue;
  border-radius: 6px;
  box-shadow: 0 0 8px 0 $blue;
  color: $darkgrey;
  letter-spacing: 1px;
  line-height: 20px;
  visibility: hidden;
  opacity: 0;
  transition: .34s ease-in-out opacity, .34s ease-in-out visibility;
  word-break: break-all;
  z-index: 2;

  a {
    display: block;
    color: $darkgrey;
    text-decoration: none;
    transition: .14s ease-in-out opacity;

    &:hover {
      opacity: .6;
    }
  }

  span {
    font-weight: bold;
  }

  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    left: calc(100% - 40px);
    width: 0;
    height: 0;
    border: solid 8px;
  }

  &:after {
    top: -16px;
    border-color: transparent transparent $white transparent;
  }

  &:before {
    top: -17px;
    border-color: transparent transparent $blue transparent;
  }
}

.dropdown-menu__divider {
  margin: 6px 0 7px;
  border-bottom: 1px solid $blue;
}

.owl-stage {
  /* Fix for right Mozilla rendering */
  display: -moz-box;
}

/* Girl examples */
.top-girls-wrap {
  background-color: $light-grey;
  box-sizing: border-box;
  padding: 20px 0;
}

.top-girls {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 0;

  a {
    transition: .14s ease-in-out opacity;
    display: inline-block;

    &:hover {
      opacity: .7;
    }
  }
}

/* Search */
.search {
  font-family: 'Roboto';
  padding-bottom: 20px;
}

.search__gender-wrap {
  display: inline-block;
  width: 100%;
  max-width: 170px;
  position: relative;
  margin-top: 15px;

  &:after {
    content: url(../imgs/search-arrow.svg);
    width: 14px;
    position: absolute;
    top: 2px;
    right: 1px;
    background-color: $white;
  }
}

.search__gender {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  border-bottom: 1px solid $light-grey-border;
  letter-spacing: 1px;
  padding: 0 0 9px 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search__header {
  text-align: center;
  letter-spacing: 1px;

  h3 {
    font-size: 30px;
    font-weight: normal;
    margin: 27px 0 39px 0;
  }
}

.search__city-wrap {
  text-align: right;
  position: relative;
  margin: 15px 29px 0 0;

  &:after {
    content: url(../imgs/close.svg);
    width: 12px;
    position: absolute;
    top: 2px;
    right: 1px;
  }
}

.search__city {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  border-bottom: 1px solid $light-grey-border;
  letter-spacing: 1px;
  padding: 0 22px 9px 0;
  width: 100%;
  max-width: 272px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.age-wrap {
  padding-top: 15px;
  font-size: 0;
  text-align: center;
}

.age-title {
  font-size: 16px;
  display: inline-block;
  letter-spacing: 1px;
  vertical-align: middle;
  margin-right: 15px;
}

.age-range-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
  width: 180px;
  margin-right: 30px;
}

.age-range-wrap .noUi-horizontal .noUi-tooltip {
  bottom: auto;
  top: 120%;
  font-size: 16px;
  border: none;
}

.age-range-wrap .noUi-horizontal {
  height: 1px;
  border: 0;
  background-color: $light-grey-border;
  border-radius: 0;
}

.age-range-wrap .noUi-connect {
  background-color: $blue;
  box-shadow: none;
}

.age-range-wrap .noUi-horizontal .noUi-handle {
  outline: none;
  cursor: pointer;
}

.age-range-wrap .noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  left: 0;
  top: -6px;
  border-radius: 6px;
  box-shadow: none;
  background-color: $blue;
  border: 0;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.search__submit {
  width: 100%;
  max-width: 170px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 2px;
  background: linear-gradient(315deg, rgba(78, 146, 255, 1) 0%, rgba(78, 146, 255, 1) 22%, rgba(55, 108, 248, 1) 100%);
  transition: .4s ease-in-out background;

  &:hover {
    background: $blue;
  }
}

/* Advanced search */
.advanced-search {
  margin-top: 36px;
}

.advanced-search__title {
  text-align: center;
  position: relative;

  h4 {
    margin: 0;
    padding: 0 18px;
    display: inline-block;
    position: relative;
    background-color: $white;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;

    &:after {
      content: url("../imgs/arrow.png");
      width: 14px;
      margin-left: 13px;
    }
  }

  &:before {
    content: '';
    width: 100vw;
    height: 1px;
    background-color: $light-grey;
    position: absolute;
    top: 11px;
    left: calc(0px - (100vw - 100%) / 2);
  }
}

.advanced-search__body {
  background-color: $light-grey;
  margin-top: 32px;
  font-size: 0;
  padding-bottom: 56px;
}

.advanced-search__input-row {
  margin-top: 40px;
  input {
    display: none;
    &:checked + label {
      background-color: $blue;
      color: $white;
    }
  }

  label {
    font-family: 'Roboto';
    border: 1px solid $blue;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 1px;
    color: $blue;
    cursor: pointer;
    transition: .2s ease-in-out color,
    .2s ease-in-out background-color;

    &:first-of-type {
      padding: 4px 36px 5px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: 0;
    }

    &:nth-of-type(2) {
      padding: 4px 39px 5px;
    }

    &:last-of-type {
      padding: 4px 14px 5px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: 0;
    }
  }
}

.advanced-search__list {
  font-size: 14px;
  margin-top: 30px;
  min-height: 736px;
  position: relative;

  .row > div {
    margin-bottom: 28px;
  }
}

.overlay {
  background: url("../imgs/preloader.gif") $white no-repeat center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: 1.3s ease-in-out opacity,
  1.3s ease-in-out visibility;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.girl {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  border-radius: 10px;
  overflow: hidden;
}

.girl__photos-wrap {
  height: 230px;
  position: relative;
  overflow: hidden;

  &> img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.girl__photos {
  position: relative;
  padding: 21px 21px 0 15px;
  display: flex;
  justify-content: space-between;
}

.girl__photos_count {
  font-size: 0;
  display: inline-block;
  background-color: $translucent;
  border-radius: 5px;
  white-space: nowrap;
  padding: 5px 10px;
  transition: .14s ease-in-out opacity;

  &:hover {
    opacity: .7;
  }

  img {
    max-width: 21px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    color: $white;
    margin-left: 5px;
  }
}

.girl__status {
  text-transform: uppercase;
  color: $white;
  margin: 0;
  padding: 5px 10px;
  background-color: $pink;
  border-radius: 5px;
  text-decoration: none;
  opacity: 1;
  transition: .14s ease-in-out opacity;

  &:hover {
    opacity: .7;
  }
}

.girl__contact {
  background: linear-gradient(315deg, rgba(94,164,255,1) 0%, rgba(55,108,248,1) 65%, rgba(55,108,248,1) 100%);
  font-size: 0;
}

.girl__btn {
  width: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  font-size: 14px;
  padding: 11px 0;
  cursor: pointer;

  &:hover img{
    transform: rotate(180deg);
  }

  img {
    vertical-align: middle;
    margin-right: 4px;
    transform: rotate(0);
    transition: .4s ease-in-out transform;
  }

  span {
    vertical-align: middle;
    color: $white;
    letter-spacing: 1px;
  }
}

.girl__btn--favorite {
  border-right: 1px solid rgba(255, 255, 255, .3);
  img {
    width: 19px;
  }
}

.girl__btn--message {
  img {
    width: 20px;
  }
}

.girl__info {
  background-color: $white;
  padding: 13px 18px;
}

.girl-online {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $green;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 4px;
}

.girl-ident {
  color: $blue;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
}

.girl-ident__name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 126px;
  vertical-align: middle;
}

.girl-location {
  letter-spacing: .8px;
  margin: 2px 0 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pagination-wrap {
  text-align: center;
  margin-top: 22px;
}

.pagination {
  list-style: none;
  font-size: 0;
  padding: 0;
  background-color: $white;
  display: inline-block;
  border-radius: 5px;

  &> li {
    color: $grey-pagination;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 0;
    padding: 15px 11px;
    margin: 0 4px;
    border-radius: 5px;
    transition: .14s ease-in-out background-color,
    .14s ease-in-out color;
    cursor: pointer;

    &:hover {
      background-color: $blue;
      color: $white;
    }

    &.active {
      background-color: $blue;
      color: $white;
    }
  }

  .pagination__arrow:hover {
    background: none;
    opacity: .7;
  }
}

.pagination__arrow {
  transition: .14s ease-in-out opacity;

  img {
    width: 8px;
  }
}

/* Footer */
.footer {
  margin-bottom: 40px;
}

.footer__navigation {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin-top: 35px;

  li {
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 18px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: $grey-footer-nav;
    text-decoration: none;
    letter-spacing: 1px;
    opacity: 1;
    transition: .14s ease-in-out opacity;

    &:hover {
      opacity: .7;
    }
  }
}

.footer__copyright {
  margin-top: 4px;

  p {
    margin: 0;
    color: $grey-footer-nav;
    font-size: 12px;
    letter-spacing: .7px;
    line-height: 20px;
  }
}

/* To top button */

.to-top {
  position: fixed;
  right: 45px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  background-color: #fff;
  cursor: pointer;
  transition: .14s ease-in-out background-color;
  z-index: 1;

  &:hover {
    background-color: $light-blue;
  }

  img {
    width: 24px;
    margin-top: 11px;
  }
}

@media screen and (max-width: 1199px) {
  .navigation {
    padding-top: 10px;
  }
  .navigation__list {
    li {
      margin-right: 23px;
    }

    a {
      letter-spacing: 1px;
    }
  }

  .premium__title {
    margin-right: 5px;
  }

  .premium,
  .credits {
    margin-top: 0;
  }

  /* Search */
  .search__city {
    max-width: 220px;
  }

  .age-range-wrap {
    width: 135px;
    margin-right: 0;
  }

  .age-title {
    margin-right: 5px;
  }

  .search__city-wrap {
    margin-right: 0;
  }

  /* Advanced search */
  .girl__photos-wrap {
    height: 210px;
  }
}

@media screen and (max-width: 991px) {
  .navigation {
    padding-top: 16px;
    order: 3;
    position: static;
  }

  .navigation__list {
    background-color: $light-grey;
    position: fixed;
    width: 200px;
    top: 0;
    bottom: 0;
    right: -200px;
    padding: 30px 20px;
    text-align: center;
    border-left: 1px solid $grey;

    &.active {
      right: 0;
    }

    li {
      margin: 0 0 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .navigation__menu-toggle {
    display: inline-block;
  }

  .account-info {
    padding-top: 6px;
  }

  /* Advanced search */
  .girl__photos-wrap {
    height: 280px;
  }
}

@media screen and (max-width: 767px) {
  .credits,
  .premium {
    margin-right: 10px;
  }

  .account-info {
    padding-top: 0;
  }

  .navigation {
    padding: 10px 15px 0 0;
  }

  /* Search */
  .search__submit-wrap {
    text-align: right;
    margin-top: 40px;
  }

  .age-wrap {
    text-align: left;
    margin-top: 32px;
  }

  .search__gender-wrap {
    max-width: 100%;
  }

  .age-range-wrap {
    max-width: calc(100% - 73px);
    width: 100%;
  }

  /* Advanced search */
  .girl__photos-wrap {
    height: 240px;
  }

  .advanced-search__body .advanced-search__input-row label {
    padding: 4px 6px 5px;
  }

  /* To top button */
  .to-top {
    right: 20px;
  }
}

@media screen and (max-width: 575px) {
  .navigation {
    padding-top: 12px;
    order: 0;
  }

  .account-info {
    text-align: center;
    margin-top: 18px;
  }

  .premium__info {
    p {
      left: -50px;
      right: inherit;
      width: 200px;
      &:after,
      &:before {
        left: 48px;
      }
    }
  }

  /* Search */
  .search__header {
    h3 {
      margin-bottom: 10px;
    }
  }

  .search__city-wrap {
    margin-top: 46px;
  }

  .search__city {
    max-width: 100%;
  }

  .search__submit-wrap {
    text-align: center;
    margin-top: 50px;
  }

  /* Advanced search */
  .girl__photos-wrap {
    height: 270px;
  }
}

