$light-grey: rgb(240, 240, 240);
$light-grey-border: rgb(220, 220, 220);
$grey: #cecece;
$grey-pagination: #999999;
$grey-footer-nav: rgb(119, 119, 119);
$darkgrey: rgb(51, 51, 51);
$blue: rgb(54, 108, 247);
$light-blue: rgba(54, 108, 247, .6);
$white: rgb(255, 255, 255);
$translucent: rgba(0, 0, 0, .5);
$pink: rgb(255, 30, 108);
$green: rgb(1, 245, 1);